parameters:
	ignoreErrors:
		-
			message: '#^Call to static method table\(\) on an unknown class Octane\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/OctaneNPlusOneMonitor.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Console/Commands/OctaneNPlusOneMonitor.php

		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: app/Console/Commands/OctaneNPlusOneMonitor.php

		-
			message: '#^Template type T of method App\\Database\\IdempotencyGuard\:\:waitForResult\(\) is not referenced in a parameter\.$#'
			identifier: method.templateTypeNotInParameter
			count: 1
			path: app/Database/IdempotencyGuard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Access to protected property App\\Models\\PersonalAccessToken\:\:\$attributes\.$#'
			identifier: property.protected
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Access to protected property App\\Models\\User\:\:\$accessToken\.$#'
			identifier: property.protected
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:tokens\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Sanctum\\PersonalAccessToken\:\:getMinutesUntilExpiration\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Sanctum\\PersonalAccessToken\:\:getSecondsUntilExpiration\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Property App\\Models\\User\:\:\$accessToken \(Laravel\\Sanctum\\PersonalAccessToken\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: app/Http/Controllers/Auth/AuthController.php

		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:availableBetween\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/LocationController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Middleware/AdvancedRateLimitMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:withAccessToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Middleware/CheckTokenNotRevokedAndNotExpired.php

		-
			message: '#^Parameter \#1 \$user of method Illuminate\\Contracts\\Auth\\Guard\:\:setUser\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Middleware/CheckTokenNotRevokedAndNotExpired.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Response\:\:header\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Middleware/Cors.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$amount\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$cancelledBy\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$cancelled_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$check_in\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$check_out\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$deletedBy\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$guest_email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$guest_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$nights\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$refund_amount\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$refund_status\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$room\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$room_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\BookingResource\:\:getRefundPercentage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\BookingResource\:\:trashed\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$address\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$available_rooms_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$city\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$coordinates\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$district\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$full_address\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$is_active\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$lock_version\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$phone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$postal_code\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$rooms_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$total_rooms\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\LocationResource\:\:\$ward\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/LocationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$display_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$location\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$location_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$lock_version\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$max_guests\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$room_number\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoomResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\RoomResource\:\:relationLoaded\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/RoomResource.php

		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Method App\\Http\\Resources\\UserResource\:\:toArray\(\) should return array\<string, mixed\> but returns array\<int\|string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:refund\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Jobs/ReconcileRefundsJob.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:stripe\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Jobs/ReconcileRefundsJob.php

		-
			message: '#^Access to an undefined property App\\Events\\BookingUpdated\:\:\$oldBooking\.$#'
			identifier: property.notFound
			count: 1
			path: app/Listeners/InvalidateCacheOnBookingChange.php

		-
			message: '#^Call to an undefined method App\\Listeners\\QueryDebuggerListener\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Listeners/QueryDebuggerListener.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Logging/ContextProcessor.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:withTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Method App\\Models\\Booking\:\:getNightsAttribute\(\) should return int but returns float\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/ContactMessage.php

		-
			message: '#^PHPDoc type array\<string\> of property App\\Models\\PersonalAccessToken\:\:\$casts is not covariant with PHPDoc type array\<string, string\> of overridden property Laravel\\Sanctum\\PersonalAccessToken\:\:\$casts\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/PersonalAccessToken.php

		-
			message: '#^PHPDoc type array\<string\> of property App\\Models\\PersonalAccessToken\:\:\$fillable is not covariant with PHPDoc type array\<int, string\> of overridden property Laravel\\Sanctum\\PersonalAccessToken\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/PersonalAccessToken.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/Review.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:selectColumns\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Room.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Room\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Room.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Room\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Room.php

		-
			message: '#^Call to function in_array\(\) with arguments string, array\<App\\Enums\\UserRole\> and true will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Models/User.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\UserRole will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/User.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\UserRole\:\:ADMIN will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/User.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\UserRole\:\:USER will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/BookingCancelled.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/BookingConfirmed.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/BookingUpdated.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$location_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Observers/BookingObserver.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Providers/RateLimiterServiceProvider.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Providers/RateLimiterServiceProvider.php

		-
			message: '#^Parameter \#2 \$checkIn of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Booking\>\:\:overlappingBookings\(\) expects DateTime, DateTimeInterface\|string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Repositories/EloquentBookingRepository.php

		-
			message: '#^Parameter \#2 \$checkIn of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Booking\>\:\:overlappingBookings\(\) expects DateTime, DateTimeInterface\|string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Repositories/EloquentBookingRepository.php

		-
			message: '#^Parameter \#3 \$checkOut of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Booking\>\:\:overlappingBookings\(\) expects DateTime, DateTimeInterface\|string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Repositories/EloquentBookingRepository.php

		-
			message: '#^Parameter \#3 \$checkOut of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Booking\>\:\:overlappingBookings\(\) expects DateTime, DateTimeInterface\|string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Repositories/EloquentBookingRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:notify\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/BookingService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:refund\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/CancellationService.php

		-
			message: '#^Offset ''cache''\|''queue''\|''redis'' on array\{database\: array, cache\: array, redis\: array, storage\: array, queue\: array\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: app/Services/HealthService.php

		-
			message: '#^Property App\\Services\\HtmlPurifierService\:\:\$config \(HTMLPurifier_Config\|null\) is never assigned HTMLPurifier_Config so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: app/Services/HtmlPurifierService.php

		-
			message: '#^Property App\\Services\\HtmlPurifierService\:\:\$purifier \(HTMLPurifier\|null\) is never assigned HTMLPurifier so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: app/Services/HtmlPurifierService.php

		-
			message: '#^Parameter \#2 \$args of static method Redis\:\:eval\(\) expects array, int given\.$#'
			identifier: argument.type
			count: 2
			path: app/Services/RateLimitService.php

		-
			message: '#^Parameter \#3 \$num_keys of static method Redis\:\:eval\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Services/RateLimitService.php

		-
			message: '#^Static method Redis\:\:eval\(\) invoked with 8 parameters, 1\-3 required\.$#'
			identifier: arguments.count
			count: 2
			path: app/Services/RateLimitService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:overlappingBookings\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/RoomAvailabilityService.php

		-
			message: '#^Method App\\Services\\RoomService\:\:fetchRoomsFromDB\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Services/RoomService.php
